<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wiseass.lordganeshawallpapershd4k">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
       <!-- Needed for firebase analytics -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.wiseass.lordganeshawallpapershd4k.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <!--
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
            -->

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6553072036142989~3691289650"/>

        <activity android:name="org.wiseass.lordganeshawallpapershd4k.StartScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.wiseass.lordganeshawallpapershd4k.ListLoader" android:windowSoftInputMode="stateHidden" ></activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.AboutCopyright"></activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.ActionScreen" android:theme="@style/AppTheme2"></activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.SearchScreen"> </activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.About"> </activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.ExitActivity"> </activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.PhotoWindow" android:screenOrientation="portrait" ></activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.FavoriteActivity"> </activity>
        <activity android:name="org.wiseass.lordganeshawallpapershd4k.PrivacyPolicy"></activity>

        <receiver android:name="org.wiseass.lordganeshawallpapershd4k.AlertRec"
            android:enabled="true"></receiver>

        <!-- Cropper -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!-- Analytics -->

        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Auto-Start -->

        <receiver
            android:name=".receiver.AutoStart"
            android:enabled="true"
            android:exported="true"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>